<!--
	Put the skeleton HTML for your Landing page here
	DO NOT include <html>, <head>, or <body> tags

	(don't remove the parent div)
-->

<div>
    <script type="text/template" id="landing_header">
        <nav class="navbar"> <!-- Navbar -->
            <h3 class="nav-title">Mountask</h3>
            <div class="nav-list">
                <ul>
                    <li><a class="nav-links" href="#">Home</a></li>
                    <li><a class="nav-links" href="#">Features</a></li>
                    <li><a class="nav-links" href="#">Pricing</a></li>
                </ul>
            </div>
            <div class="login-form">
                <form id="loginForm"> <!-- Login Form -->
                    <input id="login-usr" class="username" name="username" type="text" placeholder="Username*" required="required" maxlength="10">
                    <input id="login-pss" class="password" name="password" type="password" placeholder="Password*" required="required" maxlength="10">
                    <button id="submit-login" class="submit login">Log In</button>
                </form> <!-- Ends Login -->
            </div>
        </nav> <!-- Ends Navbar -->

    </script>

    <script type="text/template" id="landing_content">
        <div class="logo-container"> <!-- Logo Starts Here -->
            <img src="img/logo-branding-01.png" class="logo" alt="Logo Image" title="Mountask Logo">
        </div> <!-- Logo Ends Here -->
        <div class="hero-unit"> <!-- Hero Unit -->
            <div class="left-side">
                <h1>30 DAYS FREE TRIAL !</h1>
                <P>Create, organize and coordinate your tasks with the help of Mountask to get work done faster and more effectively.</P>
            </div>
            <div class="sign-up"> <!-- Sign Up Form -->
                <h3>SIGN UP TO TAKE A TOUR !</h3>
                <form id="reg-form">
                    <input id="reg-email" class="email-address" name="email" type="email" placeholder="Email Address*" required="required">
                    <input id="reg-usr" class="username" name="username" type="text" placeholder="Username*" required="required" maxlength="10">
                    <input id="reg-pss" class="password" name="password" type="password" placeholder="Password*" required="required" maxlength="10">
                    <button id="submit-reg">Sign Up!</button>
                </form>
            </div> <!-- Ends Sign Up Form -->
        </div> <!-- Ends Hero Unit -->
        <div class="divider">
            <img src="img/icons/divider.png">
        </div>
        <div class="features-container"> <!-- Features Section -->
            <div class="feature">
                <img src="img/icons/feature5.png">
                <h5>Create Projects Quickly</h5>
                <p>Save time organizing your time and things to do.</p>
            </div>
            <div class="feature">
                <img src="img/icons/feature2.png">
                <h5>Task Tracker</h5>
                <p>Never lose track of all your activities, milestones or deadlines. Stay tuned on all your devices</p>
            </div>
            <div class="feature">
                <img src="img/icons/feature3.png">
                <h5>Expand Your View</h5>
                <p>Choose what you want to see. Sort by date, importance, status, deadline or name.</p>
            </div>
        </div> <!-- Ends Features -->
        <div class="divider">
            <img src="img/icons/divider.png">
        </div>
        <div class="table-container"> <!-- Price tables -->
            <table class=" table standard">
                <tr><th class="first">Standard</th></tr>
                <tr><th class="second">$39 p/m</th></tr>
                <tr><td class="first">1 User Account</td></tr>
                <tr><td class="second even">5 GB Cloud Server</td></tr>
                <tr><td>Secure Backup</td></tr>
                <tr><td class="even">Unlimited Projects</td></tr>
                <tr><td class="btn"><a href="#" class="buy-now-btn">Buy Now</a></td></tr>
            </table>
            <table class="table premium">
                <tr><th class="first">Premium</th></tr>
                <tr><th class="second">$79 p/m</th></tr>
                <tr><td class="first">10 User Account</td></tr>
                <tr><td class="second even">20 GB Cloud Server</td></tr>
                <tr><td>Secure Backup</td></tr>
                <tr><td class="even">Unlimited Projects</td></tr>
                <tr><td class="btn"><a href="#" class="buy-now-btn">Buy Now</a></td></tr>
            </table>
        </div> <!-- Ends Table Container -->
        <div class="divider">
            <img src="img/icons/divider.png">
        </div>
        <div class="testimonios"> <!-- Testimonios -->
            <div class="test">
                <img src="img/icons/test1.png">
                <p>"Stunning"</p>
            </div>
            <div class="test">
                <img src="img/icons/test2.png">
                <p>"Intuitive and flexible-Superb!"</p>
            </div>
            <div class="test">
                <img src="img/icons/test3.png">
                <p>"In a word, this app is innovative."</p>
            </div>
        </div> <!-- Ends Testimonios -->


    </script>

    <script type="text/template" id="landing_footer">
        <div class="divider">
            <img src="img/icons/divider.png">
        </div>
        <div class="partners">
            <img src="img/icons/trusted-by.png">
        </div>

    </script>


</div>